	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<%= link_to "DreamDesign", root_path, id: "logo" %>
			
			<nav>
				<ul class="nav navbar-nav pull-right">
					<li><%= link_to "Home", root_path %></li>
				
					<% if user_signed_in? %>
						<li><%= link_to "My list (" + current_user.my_schools.count.to_s + ")", mylist_path %></li>
						<li><%= link_to "Following", following_users_path(current_user) %></li>
						<li>
						<% if current_user.name %>
							<li><%= link_to current_user.name.to_s, edit_user_registration_path %></li>
						<% elsif current_user.username%>
							<li><%= link_to current_user.username.to_s, edit_user_registration_path %></li>
						<% else %>
							<li><%= link_to "Profile", edit_user_registration_path %></li>
						<% end %>
						</li> 	
					 
						<li>
							<%= link_to "Sign out", destroy_user_session_path, method: "delete"%>
						</li>
					<% else %>
						<li><%= link_to "Sign in", new_user_session_path %></li> 
						<li><%= link_to "Sign up", new_user_registration_path %></li>
						<li><%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
					<% end %>
				</ul>
			</nav>
			
		</div>
	</header>