<p id="notice"><%= notice %></p>

<h1>Listing Schoollists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schoollists.each do |schoollist| %>
      <tr>
        <td><%= schoollist.name %></td>
        <td><%= schoollist.comment %></td>
        <td><%= link_to 'Show', schoollist %></td>
        <td><%= link_to 'Edit', edit_schoollist_path(schoollist) %></td>
        <td><%= link_to 'Destroy', schoollist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schoollist', new_schoollist_path %>
